{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    {% if typeDeCompte == "association" or typeDeCompte == "personne" %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.email) }}
            {% if typeDeCompte == "association" %}
                {{ form_row(registrationForm.siret) }}
                {% for errorMessage in errorMessages %}
                    <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
                {% endfor %}
            {% endif %}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        <button type="submit" class="btn">S'inscrire</button>
        {{ form_end(registrationForm) }}
    {% else %}
        <a class="waves-effect waves-light btn" href="{{ path('register_person') }}">Je suis une personne</a>
        <a class="waves-effect waves-light btn" href="{{ path('register_association') }}">Je suis une association</a>
    {% endif %}

{% endblock %}
