{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ annonce.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ annonce.etat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AtCreated</th>
                <td>{{ annonce.atCreated ? annonce.atCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbrViews</th>
                <td>{{ annonce.nbrViews }}</td>
            </tr>
            <tr>
                <th>NomAnimal</th>
                <td>{{ annonce.nomAnimal }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ annonce.espece }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ annonce.lieu }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ annonce.sexe }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ annonce.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annonce_index') }}">back to list</a>

    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
