<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LaCarteDesAnimaux - Bienvenue!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}
        <style>
            body {
                display: flex;
                min-height: 50vh;
                flex-direction: column;
            }
            .navbar-fixed {
                z-index: 998;
            }

            .container {
                width: 100%;
            }

            h1, h2, h3 , th {
                font-family: Lato;
                text-shadow: 1px 1px 10px lightgrey;
            }

            table , responsive-table {
                border-style: ridge;
                box-shadow: 10px 5px 5px lightgrey;
                overflow-x: auto;
                margin-bottom: 50px;
            }

            main {
                flex: 1 0 auto;
            }
            .page-footer a{
                color: white;
            }
            footer{
                position:static;
                bottom: 0px;
                right: 0px;
                left: 0px;
            }
        </style>
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper  purple lighten-3">
            <a href="{{path("admin")}}" class="hide-on-small-only brand-logo" style="margin-left: 20px">La carte des Animaux - ADMIN</a>
            <a href="#" data-target="sidenav-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <a class="btn" href="{{ path('default') }}">Mode User</a>
                <li><a href="{{path("admin")}}">Accueil</a></li>
                <li><a href="{{path("app_logout")}}">Se deconnecter</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="sidenav-demo">
        <a class="btn" href="{{ path('default') }}">Mode User</a>
        <li><a href="{{path("admin")}}">Accueil</a></li>
        <li><a href="{{path("app_logout")}}">Se deconnecter</a></li>
    </ul>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>

<footer class="page-footer purple lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Qui sommes-nous ?</h5>
                <p class="grey-text text-lighten-4">Une plateforme destiné à tous les amis des animaux afin de
                    digitaliser la procédure d’adoption ou
                    de recherche d’animaux perdus.
                </p>
                <a class="waves-effect waves-light btn" href="{{ path("plateforme") }}">Voir plus</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Copyright Carte Des Animaux
            <a class="grey-text text-lighten-4 right" href="{{ path("mention_legale") }}">Mentions légales</a>
        </div>
    </div>
</footer>

<script>
    {% for type, messages in app.flashes %}
    {% for message in messages %}
    M.toast({
        html: '{{ message }}',
        classes: '{{ type }}'
    });
    {% endfor %}
    {% endfor %}
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.sidenav');
        let instances = M.Sidenav.init(elems);
    });
</script>
</body>
</html>