{% extends 'base.html.twig' %}

{% block title %}Événements inscrits{% endblock %}

{% block body %}
    <h1>Événements inscrits</h1>

    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date</th>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.dateEvent ? evenement.dateEvent|date('d-m-Y') : '' }}</td>
                <td>{{ evenement.ville }}</td>
                <td>
                    <a class="btn" href="{{ path('evenement_show', {'id': evenement.id}) }}">visualiser</a>
                    <form method="post" action="{{ path('remove_user_from_evenement', {'id': evenement.id}) }}" >
                        <button style ="background-color:#fa4545" class="btn" type="submit">Se désinscrire</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'evenement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
