{% extends 'BackEnd/base.html.twig' %}

{% block title %}Les comptes en ligne{% endblock %}

{% block body %}
    <h1>Les comptes en ligne</h1>

    <div class="container">
        <div class="row">
            <div class="col m3">
                <div class="collection" style="box-shadow: 10px 5px 5px lightgrey;">
                    <a href="{{path("admin")}}" class="collection-item"><span class="badge"><i class=" small material-icons">home</i></span>Interface Admin</a>
                    <a href="{{path("admin_annonces")}}" class="collection-item"><span class="badge"><i class=" small material-icons">border_color</i></span>Annonce</a>
                    <a href="{{path("admin_evenements")}}" class="collection-item"><span class="badge"><i class=" small material-icons">event</i></span>Evenements</a>
                    <a href="{{path("admin_users")}}" class="collection-item"><span class="badge"><i class=" small material-icons">group</i></span>Comptes</a>
                    <a href="{{path("admin_show")}}" class="collection-item"><span class="badge"><i class=" small material-icons">account_box</i></span>Admin</a>
                </div>
            </div>
            <div class="col m9">

                <table class="responsive-table striped">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>Compte vérifié</th>
                        <th>Type de compte</th>
                        {% if app.user.typeDeCompte == "association" %}
                            <th>Siret</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>

                        <td>{{ user.pseudo }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                        <td>{{ user.typeDeCompte }}</td>
                        {% if app.user.typeDeCompte == "association" %}
                            <td>{{ user.siret }}</td>
                        {% endif %}
                        <td>
                            <a class="btn" href="{{ path('admin_users_show', {'id': user.id}) }}">visualiser</a>
                            <a class="btn" href="{{ path('admin_users_edit', {'id': user.id}) }}">modifier</a>
                            {{ include('BackEnd/user/_delete_form.html.twig') }}
                        </td>
                    {% else %}
                        <tr>
                            <td colspan="7">Pas de comptes</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="btn" href="{{ path('admin_users_new') }}">Créer un compte</a>
            </div>
        </div>
    </div>




{% endblock %}
