{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ annonce.utilisateur.pseudo }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ evenement.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user == evenement.utilisateur %}
        <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>
        {{ include('evenement/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
