<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}
        <style>
            body {
                display: flex;
                min-height: 50vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
            .page-footer a{
                color: white;
            }
            footer{
                position:static;
                bottom: 0px;
                right: 0px;
                left: 0px;
            }
        </style>
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper  purple lighten-3">
            <a href="{{path("admin")}}" class="brand-logo" style="margin-left: 20px">La carte des Animaux - ADMIN</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{path("admin")}}">Accueil</a></li>
                <li><a href="{{path("admin_annonces")}}">Les annonces</a></li>
                <li><a href="{{path("admin_evenements")}}">Les evenements</a></li>
                <li><a href="{{path("admin_users")}}">Les comptes</a></li>
                <li><a href="{{path("user_show")}}">Mon compte</a></li>
                <li><a href="{{path("app_logout")}}">Se deconnecter</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>

<footer class="page-footer purple lighten-3">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Qui sommes-nous ?</h5>
                <p class="grey-text text-lighten-4">Présentation projet</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Menu</h5>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{path("admin")}}">Accueil</a></li>
                    <li><a href="{{path("mes_annonces_index")}}">Les annonces</a></li>
                    <li><a href="{{path("mes_evenements_index")}}">Les evenements</a></li>
                    <li><a href="{{path("user_show")}}">Les comptes</a></li>
                    <li><a href="{{path("user_show")}}">Mon compte</a></li>
                    <li><a href="{{path("app_logout")}}">Se deconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Copyright Carte Des Animeaux
            <a class="grey-text text-lighten-4 right" href="#">Plus d'informations</a>
        </div>
    </div>
</footer>


<script>
    {% for type, messages in app.flashes %}
    {% for message in messages %}
    M.toast({
        html: '{{ message }}',
        classes: '{{ type }}'
    });
    {% endfor %}
    {% endfor %}
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
</body>
</html>