{% extends 'BackEnd/base.html.twig' %}

{% block title %}Les evenements en ligne{% endblock %}

{% block body %}
    <h1>Les evenements en ligne</h1>

    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.etat ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn" href="{{ path('evenement_show', {'id': evenement.id}) }}">visualiser</a>
                    <a class="btn" href="{{ path('evenement_edit', {'id': evenement.id}) }}">modifier</a>
                    {{ include('evenement/_delete_form.html.twig') }}
                    <form method="post" action="{{ path('evenement_toggle_etat', {'id': evenement.id}) }}">
                        <button class="btn" style="background-color: {{ evenement.etat ? 'red' : 'blue' }}">{{ evenement.etat ? 'Desactiver' : 'Activer' }}</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'evenement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
