{% extends 'BackEnd/base.html.twig' %}

{% block title %}Les comptes en ligne{% endblock %}

{% block body %}
    <h1>Les comptes en ligne</h1>

    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Compte vérifié</th>
                <th>Type de compte</th>
                {% if app.user.typeDeCompte == "association" %}
                <th>Siret</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>

            <td>{{ user.pseudo }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            <td>{{ user.typeDeCompte }}</td>
        {% if app.user.typeDeCompte == "association" %}
                <td>{{ user.siret }}</td>
        {% endif %}
        {% else %}
            <tr>
                <td colspan="7">Pas de comptes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
