{% extends 'base.html.twig' %}

{% block title %}LaCarteDesAnimaux - Accueil{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('base') }}
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

    {% if app.user  %}

    <section class="null-section">

    </section>

    {% else %}

        <section class="banner">
            <!-- BANNIERE -->
            <div class="container-fluid">
                <div class="parallax-container">
                    <div class="parallax" style="opacity: 0.6">
                        <img style="margin: auto" src="{{ asset('build/images/animaux.e87a0d26.webp') }}">
                    </div>
                </div>
                <h2 style="text-align : center; font-family: Arial">Une plateforme pour les amoureux des animaux</h2>
            </div>
            </div>

            <!-- SLIDERS  -->

            <div class="container">
                <div class="slider">
                    <ul class="slides" style="box-shadow: 10px 5px 5px lightgrey;">
                        <li>
                            <img style="opacity: 0.6" src="{{ asset('build/images/chien-perdu.407f5e75.jpeg') }}">
                            <div class="caption center-align">
                                <h3>Adoptez ou déclarer la perte de votre animal</h3>
                                <h5 style="font-family: Arial">Grace à notre système d'annonces</h5>
                                <a class="waves-effect waves-light btn" href="{{ path('annonce_new') }}"> Déposer une annoonce</a>
                            </div>
                        </li>
                        <li>
                            <img style="opacity: 0.6" src="{{ asset('build/images/carte.3680e1fd.png') }}">
                            <div class="caption left-align">
                                <h3>Visualisez toutes les annonces de la plateforme</h3>
                                <h5 style="font-family: Arial">Avec notre carte interactive</h5>
                            </div>
                        </li>
                        <li>
                            <img style="opacity: 0.6" src="{{ asset('build/images/salon.064a3242.jpeg') }}">
                            <div class="caption right-align">
                                <h3>Venez participer aux évenements</h3>
                                <h5 style="font-family: Arial">Organisé par des utilisateurs de la plateforme <br/>
                                    Afin de discuter et d'échanger , ou de peut être rencontrer votre futur
                                    animal de compagnie</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    {% endif %}


    <section class="result">
        <div class="container-fluid">
            <div class="row">
                <div class="col m6 s12" style="position: sticky ; top: 0; left: 0">
                    <h3>Carte Interactive</h3>
                    <!--The div element for the map -->
                    <div id="map" style="height: 500px; width: 100%; box-shadow: 5px 5px 5px lightgrey;"></div>
                </div>

                <div class="hide-on-small-only col m6 s12" style="overflow: auto">
                    <h3>Annonces en ligne</h3>
                    {{ form(formTriAnnonces) }}
                    {{ form(formFilterAnnonce) }}


                    <div class="row">
                        {% for annonce in annonces %}
                                <div class="col s12">
                                    <div class="card grey darken-1" style="border-style: ridge ; box-shadow: 10px 5px 5px lightgrey;">
                                        <div class="card-content white-text">
                                            <span class="card-title" style="font-family: Lato;text-shadow: 1px 1px 10px lightgrey;">{{ annonce.titre }} - {{ annonce.type }}</span>
                                            <p style="font-family: Arial">{{ annonce.description }}</p>
                                            <p style="font-family: Arial">Ville : {{ annonce.ville }}</p>
                                        </div>
                                        {% if is_granted('ROLE_USER') %}
                                            <div class="card-content">
                                                <form method="post" action="{{ path('favori_annonce_toggle', {'id': annonce.id}) }}">
                                                    <button class="material-icons">{{ annonce.isFavori(app.user) ? 'star' : 'star_border' }}</button>
                                                </form>
                                            </div>
                                        {% endif %}
                                        <div class="card-action">
                                            <a href="{{ path('annonce_show', {'id': annonce.id}) }}">visualiser</a><span style="height: auto; width: auto" class="badge yellow"><i class="material-icons">remove_red_eye</i>{{ annonce.nbrViews }}</span>
                                            <p style="font-family: Arial">Publié par {{ annonce.utilisateur.pseudo }}, le {{ annonce.atCreated ? annonce.atCreated|date('Y-m-d') : '' }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="annonceJson" class="annonceJson" style="display: none">{{ annonce.LatLng }}</div>

                        {% else %}
                            <div class="col s1 m4">
                                <p style="font-family: Arial">Pas d'annonces</p>
                            </div>
                        {% endfor %}
                    </div>

                    <h1>Évènements à venir</h1>


                    {{ form(formTriEvenements) }}


                    <div class="row">
                        {% for evenement in evenements %}
                            <div class="col s12">
                                <div class="card grey darken-1" style="border-style: ridge; box-shadow: 10px 5px 5px lightgrey;">
                                    <div class="card-content white-text" style="font-family: Lato;text-shadow: 1px 1px 10px lightgrey;">
                                        <span class="card-title">{{ evenement.titre }}</span>
                                        <p style="font-family: Arial">{{ evenement.description }}</p>
                                        <p style="font-family: Arial">Le {{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }} à {{ evenement.ville }}</p>
                                    </div>
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="card-content">
                                            <form method="post" action="{{ path('favori_evenement_toggle', {'id': evenement.id}) }}">
                                                <button class="material-icons">{{ evenement.isFavori(app.user) ? 'star' : 'star_border' }}</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    <div class="card-action">
                                        <a href="{{ path('evenement_show', {'id': evenement.id}) }}">visualiser</a>
                                        <p style="font-family: Arial">Publié par {{ evenement.utilisateur.pseudo }}</p>
                                    </div>
                                </div>
                            </div>
                            <div id="evenementJson" class="evenementJson" style="display: none">{{ evenement.LatLng }}</div>
                        {% else %}
                            <div class="col s1 m4">
                                <p style="font-family: Arial">Pas d'evenements</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>



        <script>
            annoncesJson()
            evenementsJson()
        </script>
        <script async
                 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAipTm3HoOVFjsVcePwaIRK9GhjqgvwS-U&callback=initMapIndex">
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.parallax');
                var instances = M.Parallax.init(elems);
            });

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.slider');
                var instances = M.Slider.init(elems);
            });
        </script>
    </div>
{% endblock %}
