{% extends 'base.html.twig' %}

{% block title %}Mes événements favoris{% endblock %}

{% block body %}
    <h1>List d'evenement favoris</h1>

    <table class="responsive-table striped" style="margin-bottom: 20px;">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Ville</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.ville }}</td>
                <td>
                    <form method="post" action="{{ path('favori_evenement_toggle', {'id': evenement.id}) }}">
                        <button class="material-icons">{{ evenement.isFavori(app.user) ? 'star' : 'star_border' }}</button>
                    </form>
                    <a class="btn" href="{{ path('evenement_show', {'id': evenement.id}) }}">visualiser</a>
                </td>
                {% if not user.getListEventRegistered.contains(evenement) %}
                    <td>
                        <form method="post" action="{{ path('add_user_to_evenement', {'id': evenement.id}) }}" >
                            <button style ="background-color:#50acec" class="btn" type="submit">S'inscrire</button>
                        </form>
                    </td>
                {% else %}
                    <td>
                        <form method="post" action="{{ path('remove_user_from_evenement', {'id': evenement.id}) }}" >
                            <button style ="background-color:#fa4545" class="btn" type="submit">Se désinscrire</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'evenement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
