{% extends 'base.html.twig' %}

{% block title %}Mes annonces favorites{% endblock %}

{% block body %}
    <h1>Mes annonces favorites</h1>

    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>Nom Animal</th>
            <th>Espece</th>
            <th>Ville</th>
            <th>Date de création</th>
        </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.nomAnimal }}</td>
                <td>{{ annonce.espece }}</td>
                <td>{{ annonce.ville }}</td>
                <td>{{ annonce.atCreated ? annonce.atCreated|date('d-m-Y') : '' }}</td>
                <td>
                    <form method="post" action="{{ path('favori_annonce_toggle', {'id': annonce.id}) }}">
                        <button class="material-icons">{{ annonce.isFavori(app.user) ? 'star' : 'star_border' }}</button>
                    </form>
                    <a class="btn" href="{{ path('annonce_show', {'id': annonce.id}) }}">visualiser</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Pas d'annonce</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}