{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
    <h1> List de mes favoris</h1>
<div class="example-wrapper">
    <h2>Mes annonces favorites</h2>
        <div class="row ">
        {% for annonce in annonces %}
                    <div class="col s1 m4">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ annonce.titre }} - {{ annonce.type }}</span>
                                <p>{{ annonce.description }}</p>
                            </div>
                            <div class="card-content">
                                <form method="post" action="{{ path('favori_annonce_toggle', {'id': annonce.id}) }}">
                                    <button class="material-icons">{{ annonce.favori ? 'star' : 'star_border' }}</button>
                                </form>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('annonce_show', {'id': annonce.id}) }}">visualiser</a><span style="height: auto; width: auto" class="badge yellow"><i class="material-icons">remove_red_eye</i>{{ annonce.nbrViews }}</span>
                                <p>Publié par {{ annonce.utilisateur.pseudo }}, le {{ annonce.atCreated ? annonce.atCreated|date('Y-m-d') : '' }}</p>
                            </div>
                        </div>
                    </div>
                <div class="col s1 m4"/>
        {% endif %}
        {% endfor %}
        </div>

    <h2>Mes évènements favoris</h2>
        <div class="collection ">
        {% for evenement in evenements %}
            <div class="col s1 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ evenement.titre }}</span>
                        <p>{{ evenement.description }}</p>
                        <p>Le {{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }} à {{ evenement.lieu }}</p>
                    </div>
                    <div class="card-content">
                        <form method="post" action="{{ path('favori_evenement_toggle', {'id': annonce.id}) }}">
                            <button class="material-icons">{{ annonce.favori ? 'star' : 'star_border' }}</button>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('evenement_show', {'id': evenement.id}) }}">visualiser</a>
                        {% if evenement.isFinish  %}
                            <span class="badge green">Valide</span>
                        {% else %}
                            <span class="badge red">Annulé</span>
                        {% endif %}
                        <p>Publié par {{ evenement.utilisateur.pseudo }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col s1 m6"/>
        {% endfor %}
        </div>
</div>
{% endblock %}
