{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Pseudo</th>
            <td>{{ user.pseudo }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Compte vérifier</th>
            <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Type de compte</th>
            <td>{{ user.typeDeCompte }}</td>
        </tr>
        {% if user.typeDeCompte == "association" %}
            <tr>
                <th>N° Siret</th>
                <td>{{ user.siret }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
