{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
    <h1>Mes annonces</h1>

    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>Nom Animal</th>
                <th>Espece</th>
                <th>Ville</th>
                <th>Date de création</th>
                <th>Nombre de Vue</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.nomAnimal }}</td>
                <td>{{ annonce.espece }}</td>
                <td>{{ annonce.ville }}</td>
                <td>{{ annonce.atCreated ? annonce.atCreated|date('d-m-Y') : '' }}</td>
                <td>{{ annonce.nbrViews }}</td>
                <td>
                    <a class="btn" href="{{ path('annonce_show', {'id': annonce.id}) }}">visualiser</a>
                    <a class="btn" href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                    {{ include('annonce/_delete_form.html.twig') }}
                    <form method="post" action="{{ path('annonce_toggle_etat', {'id': annonce.id}) }}">
                        <button class="btn" style="background-color: {{ annonce.etat ? 'red' : 'blue' }}">{{ annonce.etat ? 'Desactiver' : 'Activer' }}</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Pas d'annonce</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-annonce" style="margin-top: 20px ; margin-bottom: 20px;">
        <a class="btn" href="{{ path('annonce_new') }}">Créer annonce</a>
    </div>
{% endblock %}