{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card">
                    <div class="card-title">
                        <h1 style="text-align: center">{{ annonce.nomAnimal }} - {{ annonce.espece }} </h1>
                        <h5 style="text-align: center; color: darkgreen">{{ annonce.type }}</h5>
                        <hr>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s6"><i class="material-icons small">description</i></div>
                            <div class="col s6">{{ annonce.description }}</div>
                        </div>
                        <div class="row">
                            <div class="col s6"><i class="material-icons small">home</i></div>
                            <div class="col s6">{{ annonce.address }}, {{ annonce.zipCode }} {{ annonce.ville }}</div>
                        </div>
                        <div class="row">
                            <div class="col s6"><i class="material-icons small">pets</i></div>
                            <div class="col s6">{{ annonce.sexe }}</div>
                        </div>
                    </div>
                    <div class="button-list" style="margin-top: 20px; margin-bottom: 20px">
                        {% if app.user.isVerified %}
                            {% if app.user == annonce.utilisateur %}
                                <a class="btn" href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                                {{ include('annonce/_delete_form.html.twig') }}
                                <a class="btn" href="{{ path('mes_annonces_index') }}">Revenir à la liste</a>
                            {% else %}
                                <a class="btn" style="background-color:#50acec" href="mailto:{{ annonce.utilisateur.email }}">Contacter
                                    le
                                    propriétaire</a>
                            {% endif %}
                        {% else %}
                            <p>Compte restreint ! Votre compte doit être valide pour contacter le propriétaire.</p>
                            <p>Validez votre compte en cliquant sur le lien reçu par email.</p>
                        {% endif %}
                    </div>
                    {% if isFavori %}
                        <span class="badge orange">Favori</span>
                    {% endif %}
                    <form method="post" action="{{ path('favori_annonce_toggle', {'id': annonce.id}) }}">
                        <button class="material-icons">{{ annonce.isFavori(app.user) ? 'star' : 'star_border' }}</button>
                    </form>
                </div>
            </div>
        </div>

    </div>




{% endblock %}
