{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Compte vérifié</th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Type de compte</th>
                <td>{{ user.typeDeCompte }}</td>
            </tr>
            {% if app.user.typeDeCompte == "Association" %}
            <tr>
                <th>Siret (Valide par INSEE)</th>
                <td>{{ user.siret }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('user_edit') }}">
    <button style ="background-color:#ffcc00; margin: 5px" class="btn">
        Modifier profil
    </button>
    </a>

    <a href="{{ path('app_forgot_password_request') }}">
        <button style ="background-color:#ffcc00; margin: 5px" class="btn">
            Modifier mot de passe
        </button>
    </a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
