{% extends 'base.html.twig' %}

{% block title %}LaCarteDesAnimaux - Mon profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card text-center">
                    <div class="card-title">
                        <h1 style="text-align: center">{{ user.pseudo }}</h1>
                        <h5 style="text-align: center">{{ user.typeDeCompte }}</h5>
                        {% if app.user.typeDeCompte == "Association" %}
                    <br/><h5 style="text-align: center">{{ user.siret }}</h5>
                        {% endif %}
                        <hr>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col m6">
                                <i class="small material-icons">email</i>
                            </div>
                            <div class="col m6">
                                {{ user.email }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m6">
                                <i class="small material-icons">verified_user</i>
                            </div>
                            <div style="display: flex; justify-content: space-around" class="col m6">
                                {{ user.isVerified ? 'Oui' : 'Non' }}
                                {% if not user.isVerified %}
                                        <form  method="post" action="{{ path('user_post_mail') }}">
                                            <button style ="background-color: #2446af; margin: 5px" class="btn">Envoyer lien d'activation</button>
                                        </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div style="padding-left: 10px" class="action-btn">
                            <ul>
                               <li>
                                   <a href="{{ path('user_edit') }}">
                                       <button style ="background-color:#ffcc00; margin: 5px" class="btn">
                                           Modifier profil
                                       </button>
                                   </a>
                               </li>
                                <li>
                                    <a href="{{ path('app_forgot_password_request') }}">
                                        <button style ="background-color:#ffcc00; margin: 5px" class="btn">
                                            Modifier mot de passe
                                        </button>
                                    </a>
                                </li>
                                <li>{{ include('user/_delete_form.html.twig') }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
